// Background Color
$dark: #343b43;
$light: #fff;

// Logo Box Width
$height: 42px;
$start-width: 70px;
$end-width: 310px;

// Opacity - Start & End
$start-opacity: 0.1;
$start-color: #ac32e4;
$start-color-rgb: 208, 196, 179;
$end-opacity: 1;

// Logo Box
$border: 20px;
$cover-up: 0px;
$box: $cover-up + 4px;

// Transition Timing
$initial-delay: 366ms;
$increment: $initial-delay / 10;


.logo {
    max-width: ($end-width / 2) + 8;
    max-height: $height;
    // Color Background
    position: relative;
    margin: 0;
    background: $dark;
    box-shadow: inset 0 0 20px darken($dark, 13%);
}

// Fade In Keyframes
$start: 0; $end: 1;
@keyframes fadeIn { from { opacity: $start; } to { opacity: $end; } }


.logo-wrap, svg, .border, .letter {
    transition: all $initial-delay ease-in-out;
}

// Logo Size & Styling
.logo-wrap {
    margin: 0;
    width: $start-width;
    height: $height;
    background: $light;
    box-shadow: inset 0 0 0 ($cover-up + 0) $dark,
                inset 0 0 0 ($box + 0) rgba(172, 50, 228, 1);
    transition-delay: $initial-delay;
    opacity: 0;
    transform: scale(1.0);
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1.75s;
    animation-delay: 0;
  
    // Tagline & Icon Styling
    .tagline {
        width: $end-width;
        margin-left: -($start-width * 1.53);
        position: absolute;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: .8em;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: rgba(52, 59, 67, $start-opacity);
        transition: all $initial-delay ease-in-out ($initial-delay / 3);

        .filler {
            margin: 0;
            opacity: 0;
            transition: opacity ($initial-delay / 2.5) ease-in-out;
        }
    }
  
    // Tagline Fade In
    &:hover {
        .tagline {
            width: $end-width;
            margin-left: 0px;
            color: rgba(52, 59, 67, $end-opacity);
            transition: all $initial-delay ease-in-out 0;

            .filler {
                opacity: 1;
                transition: opacity $initial-delay ease-in-out;
            }
        }
    }
  
    // Logo Styling
    svg {
        .border {
            fill: $start-color;
            opacity: $start-opacity;
        }

        .letter {
            fill: $start-color;
            opacity: $start-opacity;

            &.e-1, &.c, &.t, &.o-1, &.r-1, &.r-2, &.i, &.v, &.e-2, &.r-3, &.o-2 {
                opacity: 0;
            }

            &.h, &.r-0 {
                opacity: $end-opacity;
                fill: $dark;
            }
        }
    }

    // Logo Expand/Fade In
    &:hover {
        width: $end-width;
        background: transparent;
        transition-delay: 0s;
        box-shadow: inset 0 0 0 4px rgba(172, 50, 228, $end-opacity),
                    inset 0 0 0 6px $light;
    
        // Logo Opacity Fade In
        svg {
            .border { opacity: $end-opacity; }

            .letter {
                opacity: $end-opacity;
                transition-delay: $initial-delay;

                &.h, &.e-1, &.c, &.t, &.o-1, &.r-1 {
                    fill: $light;
                }

                &.r-0 {
                    opacity: 0;
                }

                // Letter Fade In Order
                &.e-1, &.c, &.t, &.o-1, &.r-1, &.r-2, &.i, &.v, &.e-2, &.r-3, &.o-2 {
                    opacity: $end-opacity;
                }

                &.e-1 { transition-delay: $initial-delay + $increment; }
                &.c { transition-delay: $initial-delay + ($increment * 2); }
                &.t { transition-delay: $initial-delay + ($increment * 3); }
                &.o-1 { transition-delay: $initial-delay + ($increment * 4); }
                &.r-1 { transition-delay: $initial-delay + ($increment * 5); }
                &.r-2 { transition-delay: $initial-delay + ($increment * 6); }
                &.i { transition-delay: $initial-delay + ($increment * 7); }
                &.v { transition-delay: $initial-delay + ($increment * 8); }
                &.e-2 { transition-delay: $initial-delay + ($increment * 9); }
                &.r-3 { transition-delay: $initial-delay + ($increment * 10); }
                &.o-2 { transition-delay: $initial-delay + ($increment * 11); }
            }
        }
    }
}
