/**************/
/* Page Title */
/**************/
.page-title {
    min-height: 200px;
    padding: {
        top: 1.9rem;
        bottom: 1.9rem;
    }
    background: {
        position: center center;
        color: $gray-100;
        repeat: no-repeat;
    }
    border: {
        top: 1px solid $gray-300;
    }
    nav { line-height: 1.2; }
    .page-title-heading {
        font-size: 2.75rem;
        letter-spacing: .034em;
        line-height: $h2-line-height;
        text-shadow: $heading-ts;
        text-transform: uppercase;
        word-break: break-all;
    }
}
/* Breadcrumb */
.breadcrumb {
    font: {
        size: $fs-sm;
        weight: $fw-semi-bold;
    }
    padding: 0 0;
    margin-bottom: .25rem;
    background-color: transparent;
    text-transform: uppercase;
    .breadcrumb-item {
        position: relative;
        &::before {
            color: $color-primary;
        }
        > a {
            text-decoration: none;
            letter-spacing: .08em;
            color: var(--clr-accent);
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/*****************/
/* Section Title */
/*****************/
.section-title {
    position: relative;
    padding-bottom: .8125rem;
    &::after { @extend %divider; }
    > small {
        padding: .5rem 0 .3125rem 0;
        font: {
            family: $secondary-font;
            size: $fs-md;
            weight: normal;
        }
        letter-spacing: 0;
    }
    &.text-white::after { background: $white !important; }
}
// Alignment
.text-center {
    .section-title,
    &.section-title {
        &::after {
            left: 50%;
            margin-left: -1.125rem;
        }
    }
}

/****************/
/*   Workflow   */
/****************/
.workflow {
    position: relative;
    .workflow-title {
        position: relative;
        margin: 0;
        padding-bottom: 1.25rem;
        font: {
            size: $fs-lg;
            weight: 700;
        }
        &::after { @extend %divider; }
    }
    .workflow-text {
        margin: 0;
        padding-top: 1.625rem;
        color: $gray-500;
        font: {
            family: $secondary-font;
            size: $fs-sm;
        }
    }
    .workflow-link {
        display: inline-block;
        margin-top: ($spacer / 2);
        padding: ($spacer * .625) 0;
        transform: translateY(-5px);
        transition: all .3s;
        color: $color-primary;
        font: {
            size: $fs-sm;
            weight: bold;
        }
        letter-spacing: .1em;
        text-decoration: none;
        opacity: 0;
        > i {
            display: inline-block;
            margin-left: ($spacer / 8);
            transition: all .25s;
            font-size: 1.2em;
            vertical-align: middle;
        }
        &:hover > i { transform: translateX(3px); }
    }
    &:hover {
        .workflow-link {
            transform: translateY(0);
            opacity: 1;
        }
      }
      &.text-center {
        .workflow-title::after {
            left: 50%;
            margin-left: -18px;
        }
    }

    // With Icon
    &.workflow-add-icon {
        padding-top: 2.375rem;
        text-align: center;
        .workflow-icon {
            position: relative;
            width: 140px;
            height: 140px;
            margin: {
                right: auto;
                bottom: ($spacer * 1.75);
                left: auto;
            }
            border-radius: 50%;
            color: $color-primary;
            font-size: ($fs-base * 2.3);
            line-height: 140px;
            text-align: center;
            z-index: 5;
            > img {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                max-width: 48px;
                margin-left: -24px;
                transform: translateY(-50%);
            }
            &::before, &::after {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all .4s cubic-bezier(0.215, 0.610, 0.355, 1.000);
                border-radius: 50%;
                content: '';
            }
            &::before {
                transform: scale(0);
                background-color: rgba($color-primary, .1);
                opacity: 0;
            }
            &::after { border: 1px dashed rgba($color-primary, .3); }
        }
        .workflow-title::after {
            left: 50%;
            margin-left: -18px;
        }
        &:hover .workflow-icon {
            &::before {
                transform: scale(1);
                opacity: 1;
            }
            &::after {
                top: -40%;
                left: -40%;
                width: 180%;
                height: 180%;
            }
        }
    }
}

/********************/
/* Skills section   */
/********************/
.skills {
    .info {
        img {
            display: inline-flex;
            height: 200px;
        }
        .media-body {
            > p {
                font: {
                    size: $fs-reg;
                    family: $secondary-font;
                }
                opacity: .8 !important;
            }
        }
    }
    .techn {
        > p {
            font: {
                size: $fs-base;
                family: $secondary-font;
            }
        }
    }
}

/****************/
/*   Progress   */
/****************/
@if $enable-transitions {
    @keyframes animateBar {
        0% { transform: translateX(-100%); }
        100% {transform: translateX(0); }
    }
    .progress {
        > .animated {
            animation-name: animateBar;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: .5s;
        }
    }
}
.progress {
    display: flex;
    height: $progress-height;
    overflow: hidden;
    font-size: $progress-font-size;
    background-color: $progress-bg;
    @include box-shadow($progress-box-shadow);
}
.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $progress-bar-color;
    @include progress-bar-font($progress-font-size, $fw-semi-bold);
    text-align: center;
    white-space: nowrap;
    background-color: $progress-bar-bg;
    > span {
        position: absolute;
    }
}
// Custom style
.progress {
    &.progress-light-skin { background-color: $progress-light-bg !important; }
}
.progress-bar {
    padding-left: .625rem;
    transition: width 1s ease;
    overflow: hidden;
    font: {
        size: $fs-sm;
        weight: 600;
    }
    text-align: left;
    box-shadow: $progress-bar-box-shadow;
    i {
        display: inline-block;
        margin: {
            top: -1px;
            right: 6px;
        }
        font-size: 1.2em;
        vertical-align: middle;
    }
    .text-white {
        color: $white;
        i { color: rgba($white, .5); }
    }
}

/**************/
/*   Table   */
/**************/
.table {
    tr { 
        border-top: 1px solid $gray-300;
    }
    th, td { vertical-align: middle; }
    .f-row {
        width: 1%;
        white-space: nowrap;
        font-size: $fs-reg;
        font-weight: $fw-semi-bold;
    }
    .tech-cell {
        display: table-cell;
        height: auto;
        padding: 0 .4rem;
        vertical-align: middle;
        text-align: center;
        > img {
            display: block;
            max-height: 64px;
        }
        > span {
            // opacity: 0;
            display: none;
            font: {
                family: $code-font;
                size: $fs-base;
                weight: $fw-semi-bold;
            }
        }
        &:hover {
            > img {
                height: 72px;
                width: auto;
            }
            > span {
                // display: inline-flex;
                // margin-left: -.3rem;
                display: contents;
                position: absolute;
            }
        }
    }
}

/*******************/
/* Contact section */
/*******************/
.my-contact {
    > div {
        background-size: contain;
        background-repeat: no-repeat !important;
        background-position: center !important;
        > h3 {
            > small {
                color: $gray-300;
                letter-spacing: .3rem;
            }
        }
        > a {
            margin-top: $spacer;
        }
    }
}

/******************/
/*  Contact Info  */
/******************/
.contact-info {
    margin-bottom: ($spacer * 2.625);
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
.contact-info--title {
    display: block;
    position: relative;
    margin-bottom: ($spacer * 1.5);
    padding-bottom: ($spacer / 2);
    border-bottom: 1px solid $gray-300;
    color: $gray-700;
    font: {
        size: $fs-reg;
        weight: $fw-semi-bold;
        family: $primary-font;
    }
    letter-spacing: .03em;
    text-transform: uppercase;
    &::after {
        display: block;
        position: absolute;
        bottom: -.1875rem;
        left: 0;
        width: 5.625rem;
        height: .1875rem;
        @extend .bg-gradient;
        content: '';
    }
}
.info-list {
    padding: 0;
    list-style: none;
    > li {
        position: relative;
        padding-left: 26px;
        > i {
            color: $gray-500;
            display: block;
            position: absolute;
            left: 0;
            font-size: $fs-base;
            line-height: 1.9;
        }
    }
    &.lead > li { padding-left: 33px; }
    &.text-xl > li { padding-left: 26px; }
    &.text-lg > li { padding-left: 25px; }
    &.text-sm > li { padding-left: 18px; }
    &.text-xs > li { padding-left: 15px; }
}
.contact-info--link {
    transition: all .25s;
    color: $gray-500;
    font: {
        family: $secondary-font;
        weight: $fw-semi-bold;
        size: $fs-md;
    }
    text-decoration: none;
    > i {
        display: inline-block;
        margin-top: -1px;
        font-size: $fs-lg;
        vertical-align: middle;
    }
    &:hover {
        color: $color-primary;
        text-decoration: none;
    }
    &.text-white:hover { opacity: .6; }
}

/********************/
/*  Social Buttons  */
/********************/
.social-btn {
    display: inline-block;
    width: $fs-social-button;
    height: $fs-social-button;
    margin: 0;
    transition: all .3s;
    font-size: $fs-md;
    line-height: $fs-social-button;
    vertical-align: middle;
    text: {
        align: center !important;
        decoration: none;
    }
}
.sb-linkedin {
    color: #0976b4 !important;
    font-size: $fs-base;
    &:hover, &.hover { color: #0976b4 !important; }
}
.sb-github {
    color: #ac32e4 !important;
    font-size: $fs-base;
    &:hover, &.hover { color: #ac32e4 !important; }
}
.sb-codepen {
    color: #000000 !important;
    font-size: $fs-base;
    &:hover, &.hover { color: #000000 !important; }
}
.sb-facebook {
    color: #3b5998 !important;
    &:hover, &.hover { color: #3b5998 !important; }
}
.sb-reddit {
    color: #ff4500 !important;
    font-size: 1.1em;
    &:hover, &.hover { color: #ff4500 !important; }
}
.sb-stackoverflow {
    color: #fe7a15 !important;
    font-size: 1.1em !important;
    &:hover, &.hover { color: #fe7a15 !important; }
}
.sb-youtube {
    color: #e52d27 !important;
    &:hover, &.hover { color: #e52d27 !important; }
}
.sb-light-skin { color: $white !important; }
.social-round {
    margin: {
        right: .625rem;
        bottom: .625rem;
    }
}
.social-round {
    border: 3px solid $gray-300;
    border-radius: 50%;
    line-height: ($fs-social-button - .3125);
    &.sb-light-skin {
        border-color: rgba($white, .18);
    }
    &:hover, &.hover {
        border-color: transparent;
        background-color: $white;
        box-shadow: $box-shadow-social-button;
    }
}
.text-center {
    .social-round {
        margin: {
            right: (.625rem / 2);
            bottom: (.625rem / 2);
        }
    }
}
.text-right {
    .social-round {
        margin: {
            right: 0;
            left: .625rem;
        }
    }
}

/***********/
/*  Forms  */
/***********/
.form-control {
    font-size: $fs-reg;
    box-shadow: none;
    // Hover state
    &:hover:not(:focus):not([readonly]):not([disabled]) {
        border-color: $input-border-color;
    }
    // Focus state
    &:focus {
        border-color: $color-primary;
        box-shadow: $input-box-shadow !important;
        &[readonly],
        &[disabled] {
            border-color: $input-border-color;
            box-shadow: none !important;
        }
    }
}
// Readonly / disabled
.form-control {
    &[disabled] { cursor: not-allowed; }
}
// Label
label:not(.form-check-label):not(.custom-control-label):not(.custom-file-label) {
    padding-left: $input-padding-x;
    font: {
        size: $fs-md;
        weight: $fw-semi-bold;
    }
    letter-spacing: .06em;
    text-transform: uppercase;
}
// Form group
.form-group {
    margin-bottom: 1.5rem;
    position: relative;
}
// Form validation
.was-validated {
    .form-control {
        &:valid,
        &.is-valid {
            border-color: darken($border-color, 1%) !important;
            &:focus { border-color: $white !important; }
        }
        &:invalid,
        &.is-invalid {
            border-color: $color-danger !important;
            &:focus { border-color: $white !important; }
        }
    }
}
.valid-feedback,
.invalid-feedback {
    margin-top: .3rem;
    font-size: 90%;
}
.valid-feedback { color: $color-success; }
.invalid-feedback { color: $color-danger; }
.valid-tooltip,
.invalid-tooltip {
    border-radius: 0;
    font-size: 90%;
}
.valid-tooltip { background-color: $color-success; }
.invalid-tooltip { background-color: $color-danger; }

/******************/
/*  Contact Form  */
/******************/
.contact-form {
    background-color: $white;
    box-shadow: $box-shadow-contact-form;
    .contact-form--body { 
        padding: 2.5rem 1.5rem 1.875rem;
        > p {
            font: {
                family: $primary-font;
                weight: $fw-regular;
                size: $fs-reg;
            }
        }
    }
    .contact-form--footer {
      padding: 15px 1.5rem;
      border-top: 1px solid $gray-300;
    }

    .btn {
        position: relative;
        height: $btn-height;
        // transform: translateZ(0);
        border: 0;
        font-size: $button-font-size;
        letter-spacing: $btn-letter-spacing;
        cursor: pointer;
        z-index: 1;
        text: {
            transform: $btn-text-transform;
            decoration: none;
        }
        touch-action: manipulation;
        &:hover,
        &:focus {
            text-decoration: none;
        }
        &::before,
        &::after {
            transition: .2s;
        }
        &:active,
        &:active::before,
        &:active::after {
            transition: .12s !important;
        }
        > i {
            display: inline-block;
            font-size: 1.1em;
            vertical-align: middle;
        }
    }
}

// Button contact
.btn-contact {
    border-radius: floor($btn-height / 2);
    &:hover {
        color: $white;
        box-shadow: 0 12px 18.8px 1.2px rgba(172,50,228,0.24);
    }
    &.btn-icon-left {
        padding-left: 46px;
        i {
            display: block;
            position: absolute;
            top: 50%;
            left: 7px;
            width: 31px;
            height: 31px;
            margin-top: -15px;
            transition: $btn-transition;
            border-radius: 50%;
            line-height: 30px;
            color: $color-primary;
            background-color: $white !important;
            &::before { margin-left: 2px; }
        }
    }
    &.btn-lg {
        border-radius: floor($btn-height-lg / 2);
    }
    &.btn-sm {
        border-radius: floor($btn-height-sm / 2);
        &.btn-icon-left {
            padding-left: 34px;
            i {
                left: 2px;
                width: 26px;
                height: 26px;
                margin-top: -13px;
                line-height: 26px;
            }
        }
    }
}
